---
layout: default
---
<h3>Hi, I'm {{ site.author }}!</h3>

{% markdown _pages/about.md %}

{% if site.compression.social-urls %}
<ul>{% for link in site.social-urls %}<li>{{ link.name }}: <a href="{{ link.url }}">{{ link.url }}</a></li>{% endfor %}</ul>
{% endif %}

{% if site.compression.resume %}
<i>Resume:</i>
<p>{% for exp in site.resume %}{% if exp.title %}{{ exp.title }}{% endif %}{% if exp.company %}, {{ exp.company }}{% endif %}{% if exp.dates %}, {{exp.dates}}{% endif %}<br>{% endfor %}</p>
{% endif %}

{% if site.compression.blogs %}
<i>Blog posts:</i>
<ul>{% for post in site.posts %}<li><a href="{{ site.url }}{{ post.url }}">{{ post.title }} - {{ post.date | date: "%B %e, %Y" }}</a></li>{% endfor %}</ul>
{% endif %}