---
layout: default
---
<h3>Hi, I'm {{ site.author }}!</h3>
<p>{% include_relative _pages/about.md %}</p>
<ul>{% for link in site.personals %}<li>{{ link.name }}: <a href="{{ link.url }}">{{ link.url }}</a></li>{% endfor %}</ul>
<i>Resume:</i>
<p>{% for exp in site.resume %}{{ exp.title }}, {{ exp.company }}, {{exp.dates}}<br>{% endfor %}</p>
<i>Blog posts:</i>
<ul>{% for post in site.posts %}<li><a href="{{ site.url }}{{ post.url }}">{{ post.title }} - {{ post.date | date: "%B %e, %Y" }}</a></li>{% endfor %}</ul>
