<!DOCTYPE html>

{% if site.lang %}
<html lang="{{ site.lang }}">
{% endif %}

<head>

<meta name="viewport" content="width=device-width, initial-scale=1">

{% if page.title %}
<title>{{ page.title }}</title>
{% else if site.name %}
<title>{{ site.name }}</title>
{% endif %}

<!-- generate for your own icon using https://realfavicongenerator.net/ -->
{% if site.compression.favicon %}
<link rel="apple-touch-icon" sizes="180x180" href="{{ site.apple-touch-icon }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.icon-32x32 }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.icon-64x64 }}">
<link rel="manifest" href="{{ site.manifest }}">
<link rel="mask-icon" href="{{ site.mask-icon.href }}" color="{{ site.mask-icon.color }}">
<meta name="msapplication-TileColor" content="{{ site.msapplication-TileColor }}">
<meta name="theme-color" content="{{ site.theme-color }}">
{% else %}
<link rel="icon" href="data:,">
{% endif %}

<!-- include seo if enabled -->
{% if site.compression.seo %}
{% include seo.html %}
{% endif %}

</head>
