body {
    max-width: 80ch;
    padding: 3em 1em;
    margin: auto;
    line-height: 1.6;
    font-size: 1.25em;
    font-family: Helvetica;
}

.d {
    font-size: medium;
    color: grey;
}

img {
    max-width: 100%;
    height: auto
}