---
layout: compress
---
<!-- include header.html -->
{% include header.html %}

<!-- include page css if enabled -->
{% if site.compression.css %}
<body style="max-width:80ch;padding:3em 1em;margin:auto;line-height:1.6;font-size:1.25em;font-family:sans-serif">
{% endif %}

{{ content }}

<!-- add page load time if enabled -->
{% if site.compression.load-time %}
<br><i>Page loaded in: <script>window.onload = function () {document.getElementById("loadTime").innerHTML = window.performance.timing.domContentLoadedEventEnd-window.performance.timing.navigationStart;}</script><span id="loadTime"></span>ms</i>
{% endif %}
