---
layout: default
---
{% if site.compression.home-link %}
<a style="position:absolute;top:0;left:0;margin:1em;color:inherit;font-size:1em;" href="{{ site.url }}">{% if site.home-link-text %}{{ site.home-link-text }}{% else %}Return Home{% endif %}</a>
{% endif %}

<h1>{{ page.title }}</h1>
<i>Written on {{ page.date | date: "%B %e, %Y" }}</i>
<br><i>{% include reading-time.html %}</i>

{{ content }}

{% if site.compression.footer %}
<br><hr>
<p>{% for link in site.social-urls %}{{ link.name }}: <a href="{{ link.url }}">{{ link.url}}</a><br>{% endfor %}</p>
{% endif %}